//Animation
@keyframes landingFader {
  from {
    color: $font-color;
    font-weight: 700;
    font-size: 100%;
  }

  to {
    color: $accent-color;
    font-weight: 800;
    font-size: 125%;
  }
}

.analysis-landing .box-header {
  grid-column: span 3;
}

.box-header:hover {
  color: $accent-color;
}

.analysis-landing .box {
  border: 0;
  border-bottom: 1px solid $analysis-box-color;
  padding-left: 0;
  padding-bottom: 0;
}

.analysis-landing .box h2 {
  margin-bottom: 0.5rem;
}

.analysis-landing .box:hover {
  box-shadow: none;
  animation: landingFader 0.5s forwards;
}

.report .article {
  width: 74%;
}

.report .menu {
  width: 26%;
}

.report {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.report .article {
  flex: 1;
  padding-left: 2rem;
}

.report td:not(.color-table td) {
  padding: 1rem;
}

.report tr:not(.color-table tr) {
  font-size: 1.1rem;
}

.report table:not(.color-table table) {
  width: 100%;
  border-collapse: collapse;
  outline: 1px dashed $accent-color-2;
}

.report th:not(.color-table th) {
  padding: 1rem;
  font-weight: 900;
}

.report th:not(.color-table th):first-child,
 
.report td:not(.color-table td):first-child {
  white-space: nowrap;
  font-weight: 900;
  width: 10%;
}

.report th:not(.color-table th):not(:first-child),
 
.report td:not(.color-table td):not(:first-child) {
  width: auto;
} 

.report tbody tr:not(.color-table tr):nth-child(odd) {
  background-color: $table-background-accent;
}

// Special styling for color table

.report .color-table {
  text-align: center;
}
