//Animation
@keyframes navFader {
  from {
    color: $font-color;
    font-weight: 700;
    font-size: 1.3rem;
  }

  to {
    color: $accent-color;
    font-weight: 800;
    font-size: 1.5rem;
  }
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: $header-background-color;
  border-bottom: solid 0.2rem $border-color;
  color: $font-color;
}

.header .title {
  text-decoration: none;
  color: $page-title-font-color;
  padding-left: 1rem;
}

.header .title h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.header .title p {
  font-size: 1.5rem;
  margin-top: 0;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header img {
  filter: $image-adjustment-header;
}

.nav a {
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
}

.nav .active a {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: $underline-color;
  text-decoration-thickness: 20%;
}

.nav a:hover {
  animation: navFader 0.5s forwards;
}

.hidden {
  display: none !important;
}
