// Header
@media screen and (max-width: $responsive-cutoff) {
  .header {
    padding: 0;
    padding-left: 0.4rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
  }
}

// Footer
@media screen and (max-width: $responsive-cutoff) {
  .footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
  
  .social a {
    text-decoration: none;
    font-size: 2.2rem;
  }
  
  .footer p {
    font-size: 0.7 * $footer-font-size;
  }
}

// Technologies page
@media screen and (max-width: $responsive-cutoff) {
  .box-header {
    grid-column: span 3;
  }
}

// Technology pages
@media screen and (max-width: $responsive-cutoff) {
  .technology aside {
    display: none;
  }

  .technology .article {
    width: 100%;
    padding: 0;
  }
}

// Report pages
@media screen and (max-width: $responsive-cutoff) {
  .report aside {
    display: none;
  }

  .report .article {
    width: 100%;
    padding: 0;
  }
}


